body {
    font-family: "Open Sans", Tahoma, sans-serif; 
}

/*header {
    margin-bottom: 10px;
}*/

.tabs {
    position: relative;
}

.tab-item {
    position: absolute;
    z-index: 10000;
    background-color: #fff
}

ul.tabs-menu  {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .15);

    
}

.tabs-menu li {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    border-bottom: none;

}

 .main-tabs {
    margin-bottom: -32px;
 }

.green a{
    color: rgb(204, 230, 204);
}

.red a{
    color: rgb(239, 105, 114);
}

.tabs-menu a {
    display: block;
    text-decoration: none;
    padding: 15px 20px;
}

.tabs-menu a:hover,
.current {
    background-color: rgba(226, 242, 255, .15);
}

.tabs-menu li:first-child {
    margin-right: 150px;
    margin-left: 10px;
    border: none;
}

div.tab-item {
    width: 100%;
    display: none;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-top:none;
    box-shadow: 3px solid rgba(0, 0, 0, .15);
}

.tab-item ul {
    list-style: none;
     margin: 0;
}

.tab-link {
    padding: 0;
}

.tab-item ul li {
    padding: 5px;
}


.sublink-header {
    padding: 5px;
    font-weight: bold;

}

main {
    height: 800px;
    background-color: green;
    opacity: 0.2;
    color: white;
}

footer {
    margin-top: 10px;
    height: 100px;
    background-color: blue;
    opacity: 0.2;
    color: white;
}