body {
    font-family: 'Open Sans', Tahoma, sans-serif;
}

.tabs {
    position: relative;
}

.tab-item {
    position: absolute;
    z-index: 10000;
    background-color: #fff;
}

ul.tabs-menu {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    list-style: none;
    font-size: 0;
}

.tabs-menu li {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .15);
    border-bottom: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle;
}

.main-tabs {
    margin-bottom: -32px;
}

.green a {
    color: rgb(204, 230, 204);
}

.red a {
    color: rgb(239, 105, 114);
}

.tabs-menu a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}

.tabs-menu a:hover,
.current {
    background-color: rgba(226, 242, 255, .15);
}

.tabs-menu li:first-child {
    margin-right: 150px;
    margin-left: 10px;
    border: none;
}

div.tab-item {
    display: none;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-top: none;
    box-shadow: 3px solid rgba(0, 0, 0, .15);
}

.tab-item ul {
    margin: 0;
    list-style: none;
}

.tab-link {
    padding: 0;
}

.tab-item ul li {
    padding: 5px;
}

.sublink-header {
    padding: 5px;
    font-weight: bold;
}

main {
    height: 800px;
    opacity: .2;
    color: white;
    background-color: green;
}

footer {
    height: 100px;
    margin-top: 10px;
    opacity: .2;
    color: white;
    background-color: blue;
}