body {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
}

.main-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1025px;
    margin: 0 auto;
}



/*Header*/

.contact-bar {
    border: 1px solid #dcdcdc;
    background: #f5f5f5;
}

.contact-bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-bar li {
    font-size: 12px;
    vertical-align: top;
}

.contact-bar a {
    display: block;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 30px;
    color: #6e6e6e;
    text-decoration: none;
}

.contact-bar img {
    margin-right: 10px;
    vertical-align: middle;
}

nav {
    border: 1px solid #979797;
    border-bottom: none;
}

.main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -52px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.main-navigation a:hover {
    color: #3474b7;
}

.main-menu .active a {
    color: #3474b7;
}

.main-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 180px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 14px;
    font-size: 0;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-bottom: 23px;
    padding: 0;
    list-style: none;
    font-size: 0;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.main-menu li {
    position: relative;
    font-size: 16px;
    font-weight: 600;
}

.main-menu li:last-child {
    margin-right: -6px;
}

.main-menu a {
    display: block;
    padding: 5px 10px;
    color: #132d65;
    text-decoration: none;
}

.arrow {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    padding-bottom: 7px;
    border-radius: 10px;
    color: #fff;
    background: #132d65;
}

.arrow::after {
    position: absolute;
    border: 5px solid transparent;
    border-top: 5px solid #132d65;
    content: '';
}

.submenu {
    position: absolute;
    top: 25px;
    right: -20px;
    display: none;
    width: 120px;
}

.submenu ul {
    position: absolute;
}

.submenu li {
    display: block;
    padding: 10px;
    background: #fff;
    font-size: 14px;
}

.submenu li:hover {
    background: #f5f5f5;
}

ul li:hover ul {
    display: block;
}



/*Header*/


/*Main Content*/

.inner-page-title {
    background-color: #132d65;
}

.inner-page-title h1 {
    margin: 0;
    padding-top: 6px;
    padding-bottom: 13px;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    line-height: 41px;
}

.breadcrumbs-wrapper {
    background-color: #f1f1f1;
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #8499a3;
    font-size: 12px;
}

.breadcrumbs li {
    padding-top: 11px;
    padding-right: 10px;
    padding-bottom: 9px;
    padding-left: 1px;
}

.breadcrubs .current {
    background-color: #8fa3ad;
}

.content-header {
    margin-bottom: 32px;
    padding-top: 6px;
    color: #4a4a4a;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.section-header {
    border: 2px solid #133866;
    border-radius: 5px 5px 0 0;
    color: #fff;
    background: #133866;
    font-size: 22px;
}

.section-number {
    display: inline-block;
    margin-right: 16px;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 25px;
    vertical-align: middle;
}

.section-header h1 {
    display: inline-block;
    margin: 0;
    padding-top: 11px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
}

.plan-info,
.contact-info,
.account-info,
.payment-info {
    border: 2px solid #133866;
    border-radius: 7px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.plan-info {
    margin-bottom: 27px;
}

.form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.left-form-block {
    margin-right: 30px;

    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.contact-info input,
.contact-info select,
.contact-info .selectric {
    display: block;

    width: 87%;
    margin: 0 auto;
    margin-bottom: 24px;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 15px;
    color: #999;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 19px;
}

input[name='first-name'] {
    margin-top: 30px;
}

.contact-info .selectric {
    width: 91%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
    padding-top: 5px;
}

.contact-info .selectric-items {
    right: 10px;

    width: 100%;
}

.contact-info .selectric .label {
    margin-top: 0;
    margin-bottom: -10px;
    color: #999;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 19px;
}

.right-form-block {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.account-info {
    margin-bottom: 16px;
}

.account-info input {
    display: block;
    width: 87%;
    margin: 0 auto;
    margin-bottom: 23px;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 15px;
    color: #999;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 19px;
}

.account-info input:first-child {
    margin-top: 30px;
}

.card-logo {
    margin-bottom: 25px;
    padding-top: 19px;
    text-align: center;
}

.card-logo img {
    margin-right: 10px;
    margin-left: 10px;
}

.payment-info input {
    display: block;

    width: 87%;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 15px;
    color: #999;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 19px;
}

.card-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.payment-info p {
    margin-top: 30px;
    margin-left: 24px;
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.payment-info .selectric {
    width: 90px;
    margin-top: 20px;
    margin-right: -25px;
    margin-left: 42px;
}

.payment-info .selectric .label {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 5px;
    color: #999;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 19px;
}

.payment-info .selectric-items {
    left: 43px;
    width: 100%;
}

input.cvv {
    width: 98px;
    height: 35px;
    margin-top: 20px;
    margin-left: 62px;
    padding: 0;
    text-align: center;
}

.total-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 25px;
    margin-bottom: 21px;
}

.total {
    margin: auto;
    margin-left: 21px;
    color: #133866;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;

    text-transform: uppercase;
}

.smb-btn {
    margin: auto;
    margin-left: 112px;
    padding: 14px 62px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background: #1e794e;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.main-content {
    margin-bottom: 40px;
}



/*Table*/

.table {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.table-row,
.table-row-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.table-row-header {
    background-color: #eeeaec;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.table-row {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eeeaec;
}

.table-col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 9px;
    padding-bottom: 12px;
    background-color: #eeeaec;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}

.table-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    border-right: 1px solid #eeeaec;
    font-size: 16px;
    font-weight: 500;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.table-col .selectric {
    width: 180px;
    margin: 0 auto;
}

.table-col .selectric-items {
    left: 19!important;
}

.table-colspan-2 {
    margin: auto;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.table-colspan-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -9px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

.table-colspan-3 h2 {
    margin: 0;
    color: #525252;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
}

.btn-smb {
    margin-right: -45px;
    padding-top: 10px;
    padding-right: 28px;
    padding-bottom: 11px;
    padding-left: 32px;
    border: 1px solid #133866;
    border-radius: 100px;
    color: #133866;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-decoration: none;
}

.additional-text {
    color: #4a4a4a;
    font-size: 12px;
    font-weight: 400;
}


.table-col:last-child {
    border-right: none;
    border-left: none;
}

.table-col img {
    display: inline-block;
    margin-top: 11px;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-left: -12px;
    vertical-align: middle;
}

.plan-text {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.table-col h3 {
    display: inline-block;
    margin: 0;
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 500;
}


.plan-text p {
    color: #384956;
    font-size: 12px;
}

.col-content {
    margin-top: 2px;
    margin-right: 10px;
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}



/*Table*/


/*input radio style*/

.radio {
    width: 20px;
    height: 20px;
    margin: 0 3px 0 0;
    vertical-align: top;
}

.radio+label {
    cursor: pointer;
}

.radio:not(checked) {
    position: absolute;
    opacity: 0;
}

.radio:not(checked)+label {
    position: relative;
    padding: 0 0 0 35px;
}

.radio:not(checked)+label:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #132d65;
    border-radius: 50%;
    background: #fff;
    content: '';
}

.radio:not(checked)+label:after {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 0;
    background: #132d65;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
    content: '';
    -webkit-transition: all .2s;
    transition: all .2s;
}

.radio:checked+label:after {
    opacity: 1;
}



/*Main Content*/


/*Footer*/

.partners-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #f5f5f5;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.partners-logo img {
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 17px;
    padding-left: 45px;
}

.partners-logo img:last-child {
    padding-left: 60px;
}

.features-wrapper {
    color: #fff;
    background: #001149;
}

.features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.features-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    border-left: 2px solid rgba(255, 255, 255, .15);
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.features-item:last-child {
    margin-left: 10px;
    border-right: 2px solid rgba(255, 255, 255, .15);
}

.features-item img {
    margin-bottom: 15px;
}

.features-name {
    color: #fff;

    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.btn {
    width: 81%;
    margin-right: -18px;
    margin-left: -15px;
    padding: 7px 0;
    border: 2px solid #3ca6d0;
    border-radius: 39px;
    color: #3ca6d0;
    background: #001149;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
}

.features-item p {
    margin-right: 19px;
    margin-bottom: 21px;
    margin-left: 19px;
    padding-right: 12px;
    padding-left: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;

    text-align: center;
}

.footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 19px;
}

.footer-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.footer-main-nav li,
.submenu-header {
    color: #384956;
    font-size: 22px;
    font-weight: 500;
    line-height: 40px;
    text-transform: uppercase;
}

.footer-main-nav a,
.footer-submenu a {
    text-decoration: none;
    color: #384956;

}

.submenu-item a {
    color: #8794a7;

    font-weight: 300;
}

.submenu-header {
    margin-top: 5px;
    margin-right: 48px;
    margin-bottom: 34px;
    margin-left: 57px;
}

.footer-submenu li {
    margin-right: -13px;
    margin-left: 57px;

    font-size: 22px;
    line-height: 30px;
}


.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    margin-left: 176px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.footer-social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.social-btn {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 46px;
    height: 46px;
    margin: 0 2px;
    border: 1px solid #66818d;
    border-radius: 35px;
    background: #66818d;
    font-size: 0;
    text-decoration: none;
}


.footer-social-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.footer-social-text img {
    margin-top: -20px;
    margin-left: 17px;
}

.footer-social-text a {
    color: #384956;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    text-decoration: none;
}

.footer-social-text p {
    margin-top: 1px;
    color: #717e90;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.footer-social-icons {
    margin-top: 3px;
    margin-left: -10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer-social-icons a {
    margin-right: 10px;
}

.social-btn-fb {
    background: #66818d url('../img/fb-icon.png') no-repeat center;
}

.social-btn-twit {
    background: #66818d url('../img/twit-icon.png') no-repeat center;
}

.social-btn-in {
    background: #66818d url('../img/in-icon.png') no-repeat center;
}

.social-btn-google {
    background: #66818d url('../img/google-icon.png') no-repeat center;
}

.social-btn-youtube {
    background: #66818d url('../img/youtube-icon.png') no-repeat center;
}

.footer-wrapper {
    color: #fff;
    background-color: #66818d;
}

.footer-logo {
    margin-left: 0;
    padding-top: 25px;
    padding-bottom: 24px;
}

.footer-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin-left: -26px;
    padding-top: 19px;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.footer-contact a {
    padding-bottom: 14px;
    color: #fff;
    text-decoration: none;
}

.footer-contact img {
    padding-right: 10px;
}


.footer-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
}

.copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    text-align: right;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.copyright-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.copyright-link li {
    padding-right: 7px;
    padding-left: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.copyright p {
    font-size: 16px;
    font-weight: 300;
}

.copyright-link a {
    color: #fff;
    text-decoration: none;
}


/*Footer*/


/*Media Query*/

@media (max-width:1072px) {
    .contact-bar li:last-child {
        padding-right: 10px;
    }
    .contact-info .selectric-items {
        left: 13px!important;

        width: 91%!important;
    }

    .footer-logo {
        margin-right: 50px;
    }

    .footer-main-nav li,
    .submenu-header,
    .footer-submenu li {
        font-size: 18px;
    }
}


@media (max-width:840px) {
    .main-logo {
        margin: 7px auto;
    }

    .main-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 70px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .inner-page-title h1 {
        padding-left: 10px;

        font-size: 24px;
    }
    .col-content,
    .table-colspan-2,
    .table-colspan-3 {
        font-size: 14px;
    }

    .table-colspan-3 h2 {
        display: none;
    }

    .table-col img {
        display: none;
    }

    .additional-text {
        display: none;
    }

    .table-col .selectric {
        width: 100%;
    }
    .form-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .left-form-block {
        width: 100%;
        margin-bottom: 20px;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .card-info {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    input.cvv {
        margin: auto;
    }

    .smb-btn {
        margin-left: 5px;
    }

    .partners-logo {
        margin: auto;
    }

    .features {
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    .features-item {
        margin-bottom: 20px;
    }

    .footer-copyright {
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .copyright {
        display: block;

        text-align: center;
    }

    .copyright-link {
        text-align: center;
    }

    .footer-logo {
        text-align: center;
    }

    .footer-contact {
        text-align: center;
    }
    .footer-main-nav,
    .footer-submenu {
        display: none;
    }

    .footer-social {
        margin: auto;
    }
}

@media (max-width:660px) {
    .table-row {
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .table-row-header {
        display: none;
    }

    .table-col {
        border: none;
    }

    .col-content,
    .table-colspan-2,
    .table-colspan-3 {
        text-align: right;
    }

    .table-col:before,
    .table-colspan-2:before,
    .table-colspan-3:before {
        margin-right: 100px;
        font-size: 12px;
        font-weight: 600;
        content: attr(data-label);
        text-align: left;
    }

    .col-content input {
        margin-right: -10px;
    }

    .col-content p {
        margin-left: -10px;
    }

    .monthly-cost {
        margin-top: 10px;
        margin-left: -20px;
    }
    .radio {
        width: 11px;
        height: 11px;
    }

    .plan-text h3 {
        font-size: 14px;
        font-weight: 600;
    }

    .radio:not(checked)+label {
        padding: 0 0 7px 22px;
    }

    .radio:not(checked)+label:before {
        width: 11px;
        height: 11px;
    }

    .radio:not(checked)+label:after {
        top: 0;
        left: 0;

        width: 12px;
        height: 12px;
    }
    .btn-smb {
        margin-top: 10px;
        margin-left: -230px;
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 6px;
        padding-left: 15px;
        font-size: 12px;
        line-height: 16px;
    }
}


@media (max-width:400px) {
    .contact-bar ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .main-navigation li {
        padding-left: 10px;

        font-size: 14px;
    }
    .main-navigation li:first-child {
        padding-right: 10px;
    }

    .contact-info .selectric-items {
        left: 5px!important;
    }

    .partners-logo {
        flex-direction: column;
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    .partners-logo img {
        padding: 15px;
    }
}