@media screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
    }
    .logo__img {
        padding-left: 20px;
    }
    .header__nav {
        float: left;
        margin-top: 27px;
        margin-left: -4px;
    }
    .header__description {
        padding-top: 104px;
        padding-left: 43px;
    }
    .header__title {
        padding-bottom: 9px;
        font-size: 49px;
        letter-spacing: -.55px;
    }
    .header__subtitle {
        font-size: 24px;
        letter-spacing: 0;
    }
    .header__text {
        width: 70%;
        height: 104px;
        padding-top: 2px;
        font-size: 16px;
        line-height: 26px;
    }
    .header__slider {
        margin: 144px 0 154px;
    }
    .header__img {
        top: -23px;
        right: 46px;
    }
    .header__boolet {
        top: 436px;
        right: 142px;
    }
    .arrow--left {
        left: 0;
    }
    .arrow--right {
        right: 0;
    }
    .header__news {
        padding-top: 77px;
        padding-bottom: 65px;
    }
    .news__block {
        width: 33.333333333333336%;
        margin-right: 0;
        padding-left: 23px;
    }
    .news__block:nth-child(2) {
        padding-left: 18px;
    }
    .news__block:first-child > .news__more {
        padding-right: 25px;
    }
    .news__block:nth-child(2) > .news__more {
        padding-right: 29px;
    }
    .news__block:last-child > .news__more {
        padding-right: 23px;
    }
    .icon--first {
        background-position: 0 -84px;
    }
    .icon--second {
        background-position: 0 -84px;
    }
    .news__block:hover .icon--first {
        background-position: -33px -84px;
    }
    .news__block:hover .icon--second {
        background-position: -33px -84px;
    }
    .news__icon {
        margin-top: 1px;
        margin-left: 8px;
    }
    .news__title {
        padding-left: 61px;
        font-size: 24px;
    }
    .news__text {
        width: 69%;
        height: 144px;
        margin-top: -9px;
        padding-left: 20px;
    }
    .news__more {
        margin-top: 5px;
        padding-right: 16px;
    }
    .news__more:first-child {
        margin-right: 4px;
    }
    .news__more:last-child {
        margin-right: 2px;
    }
    .content__title--span {
        font-size: 25px;
        letter-spacing: -.4px;
    }
    .content--span {
        font-size: 24px;
    }
    .content__padding {
        padding-top: 10px;
        padding-bottom: 8px;
        padding-left: 72px;
        line-height: 23px;
        letter-spacing: .08px;
    }
    .content__icon {
        padding-left: 10px;
    }
    .content__text {
        width: 68%;
        height: 144px;
        padding-left: 72px;
    }
    .content__boolet {
        left: 155px;
    }
    .content__block {
        margin-bottom: 81px;
    }
    .content__block:first-child {
        padding-left: 10px;
    }
    .content__block:last-child {
        padding-top: 28px;
        padding-left: 30px;
    }
    .content__material {
        padding: 7px 0 14px 1px;
    }
    .material__text {
        width: 75%;
    }
    .about__link {
        padding-top: 5px;
        padding-right: 26px;
    }
    .content__partner {
        padding: 27px 0 18px;
    }
    .img__partner {
        padding: 0 27px;
    }
    .footer__article {
        padding-left: 18px;
    }
    .footer__article:first-child {
        padding-top: 0;
        padding-left: 20px;
    }
    .footer__article:last-child {
        padding-left: 12px;
    }
    .article--tablet {
        display: block;
    }
    .article--desktop {
        display: none;
    }
    .article--title {
        font-size: 24px;
    }
    .article__text {
        margin-top: -3px;
    }
    .footer__bottom {
        height: 201px;
    }
    .footer__nav {
        margin-left: 18px;
        padding-top: 37px;
    }
    .menu--bottom {
        margin-left: -18px;
    }
    .footer__copyright {
        padding-top: 18px;
        padding-right: 21px;
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
    }
    .header__logo {
        position: absolute;
        top: 0;
        width: 152px;
        height: 41px;
        margin-left: -96px;
        padding-left: 50%;
    }
    .header__nav {
        position: absolute;
        z-index: 100;
        top: 95px;
        right: 0;
        left: 0;
        display: block;
        width: 246px;
        height: 257px;
        margin: 0 auto;
        border: 1px solid transparent;
    }
    .header__arrow {
        display: none;
    }
    .top--menu {
        overflow: hidden;
        height: 40px;
        padding-top: 5px;
    }
    .top--menu:hover {
        height: auto;
        padding-top: 5px;
        border: 1px solid #051116;
        border-radius: 9px;
        background-color: rgba(54, 41, 62, .9);
        box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    }
    .top--menu > .menu__item {
        display: block;
        margin: 0;
        padding: 0;
        padding-bottom: 1px;
        border-top: 1px solid #523e5a;
        border-bottom: 0;
        border-bottom: 1px solid #36283e;
        line-height: 39px;
        text-align: center;
    }
    .top--menu > .menu__item:first-child {
        padding-top: 1px;
        border-top: 0;
    }
    .top--menu > .menu__item:last-child {
        padding-bottom: 1px;
        border-bottom: 0;
    }
    .top--menu > .menu__item:hover {
        padding-bottom: 0;
        border-bottom: 2px solid #edbfff;
        background-color: rgba(0, 0, 0, .3);
        cursor: pointer;
    }
    .top--menu > .menu__item:hover > .menu__link {
        border-bottom: 0;
    }
    .menu__link {
        padding: 2px 5px;
        border-bottom: 2px solid #edbfff;
        text-decoration: none;
    }
    .menu__link:hover {
        padding: 2px 5px;
        border-bottom: 2px solid transparent;
        text-decoration: none;
    }
    .header__slider {
        height: 246px;
        margin: 103px 0 99px;
    }
    .header__description {
        padding-top: 96px;
        padding-left: 3px;
    }
    .header__title {
        margin-bottom: -14px;
        font-size: 37px;
    }
    .header__subtitle {
        overflow: hidden;
        width: 88%;
        height: 30px;
        font-size: 18px;
        letter-spacing: 0;
    }
    .header__text {
        display: none;
    }
    .header__img {
        top: -9px;
        right: -8px;
    }
    .header__img--img {
        width: auto\9;
        /* ie8 */
        max-width: 70%;
        height: auto;
    }
    .header__play {
        position: absolute;
        top: 104px;
        right: 43px;
    }
    .play__img {
        width: auto\9;
        /* ie8 */
        max-width: 70%;
        height: auto;
    }
    .header__boolet {
        top: 267px;
        right: 0;
        left: 0;
        margin-left: 5px;
        text-align: center;
    }
    .header__news {
        padding-bottom: 45px;
    }
    .news__block {
        width: 100%;
        margin-right: 0;
        margin-bottom: 21px;
        margin-left: -38px;
    }
    .news__block:nth-child(2) {
        margin-bottom: 25px;
        padding-left: 22px;
    }
    .news__block:nth-child(2) > .news__more {
        padding-right: 24px;
    }
    .news__more:last-child {
        margin-right: 3px;
    }
    .news__text {
        width: 81%;
        height: 75px;
    }
    .news__more {
        margin-top: 10px;
        padding-right: 25px;
    }
    .content__block {
        display: block;
        box-sizing: border-box;
        width: 100%;
        margin-top: 1px;
        margin-bottom: 105px;
    }
    .content__block:first-child {
        margin-left: -25px;
        background: url(../img/tip.png) 22px 12px no-repeat;
    }
    .content__block:last-child {
        margin-bottom: 80px;
        padding-top: 28px;
        padding-left: 45px;
    }
    .content__padding {
        padding-top: 12px;
    }
    .content__title--span {
        font-size: 31px;
        letter-spacing: -.4px;
    }
    .content--span {
        font-size: 30px;
    }
    .content__text {
        width: 75%;
        height: 176px;
        padding-top: 9px;
        padding-left: 14px;
    }
    .content__boolet {
        top: 364px;
        left: 200px;
    }
    .material__text {
        width: 68%;
    }
    .about__link {
        padding-top: 5px;
        padding-right: 59px;
    }
    .content__partner {
        padding: 38px 0 16px;
    }
    .img__partner {
        padding: 0 27px 12px;
    }
    .img__partner:last-child {
        padding-right: 72px;
    }
    .footer__top {
        padding-top: 79px;
        padding-bottom: 31px;
    }
    .footer__article {
        display: block;
        overflow: hidden;
        box-sizing: border-box;
        width: 100%;
        height: 135px;
        margin-right: 0;
        margin-bottom: 51px;
    }
    .footer__article:first-child {
        padding-top: 0;
        padding-left: 0;
    }
    .footer__article:last-child {
        padding-left: 0;
    }
    .menu--bottom .menu__item {
        display: inline-block;
        margin: -2px -11px;
    }
    .menu--bottom {
        margin-top: 1px;
        margin-left: -8px;
    }
    .menu--bottom .menu__link {
        border-bottom: 0;
    }
    .menu--bottom .menu__link:hover {
        border-bottom: 2px solid #edbfff;
    }
    .footer__copyright {
        display: block;
        width: 100%;
        padding-top: 19px;
        padding-right: 23px;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    html {
        -webkit-text-size-adjust: none;
    }
    .header__slider {
        margin: 103px 0 67px;
        background: none;
    }
    .header__arrow {
        top: 0;
    }
    .header__img {
        display: none;
    }
    .header__description {
        display: block;
        width: 60%;
        margin: 0 auto;
        padding-top: 93px;
        padding-left: 0;
    }
    .header__title {
        letter-spacing: -.4px;
    }
    .header__subtitle {
        width: 110%;
    }
    .header__boolet {
        top: 228px;
    }
    .header__news {
        padding-top: 70px;
        padding-bottom: 40px;
    }
    .news__block {
        position: relative;
        height: 136px;
        padding-left: 22px;
    }
    .news__block:last-child {
        margin-top: 12px;
    }
    .news__title {
        padding-left: 59px;
    }
    .news__text {
        position: absolute;
        top: 36px;
        left: 62px;
        width: 64%;
        height: 75px;
        padding-top: 0;
    }
    .news__more {
        margin-top: 76px;
    }
    .content__block:first-child {
        padding-top: 87px;
        background: url(../img/tip-1.png) 22px 12px no-repeat;
    }
    .content__block:last-child {
        padding-left: 18px;
    }
    .content__icon {
        height: 49px;
        padding-left: 10px;
    }
    .content__padding {
        margin-bottom: -5px;
        margin-left: -3px;
        padding-top: 6px;
    }
    .content__title--span {
        font-size: 25px;
        letter-spacing: -.4px;
    }
    .content--span {
        font-size: 24px;
    }
    .content__text {
        width: 62%;
        height: 170px;
        padding-top: 0;
        padding-left: 72px;
    }
    .content__boolet {
        top: 364px;
        left: 136px;
    }
    .content__material {
        padding: 8px 1px 11px;
    }
    .material__icon {
        display: block;
        float: left;
        height: 23px;
    }
    .material__title {
        display: block;
        overflow: hidden;
        width: 70%;
        height: 20px;
        padding-left: 17px;
        font-size: 16px;
        font-weight: 700;
    }
    .material__text {
        overflow: hidden;
        width: 75%;
        height: 25px;
        margin-top: 2px;
        padding-left: 66px;
        font-size: 16px;
    }
    .about__link {
        padding-top: 5px;
        padding-right: 26px;
    }
    .content__partner {
        padding: 52px 0 22px;
    }
    .img__partner {
        padding: 0 24px 39px 33px;
    }
    .footer__top {
        display: none;
    }
    .footer__nav {
        display: none;
    }
    .footer__copyright {
        padding-top: 30px;
    }
}